src/build/
build/
lib/
AccountKitSample/AccountKitSample/ui/
AccountKitSample/Entitlements/
project.xcworkspace
Buck-Info.plist
xcuserdata
.arcbuildbootstrap
.DS_Store
*.xcscmblueprint
AccountKit

# vim temp files
*.swp
